/* Denna fil får du editera för att lösa uppgiften. Du får INTE ändra i html-filen. */

 /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Sidans layout */
    #container 
    {
        width: 600px;
margin: 0px auto;
border-right: 1px solid #ccc8b8;
border-left: 1px solid #ccc8b8;
color: #F5DEB3;
border-top: 1px solid #ccc8b8;
background: url('pics/coffey.jpg') repeat scroll 0% 0% #4F463C;
height: 247px;
    }
    
    #topbar 
    {
       padding: 9px;
margin: 0px;
height: 0px;
font-style: italic;
font-size: 11px;
background: #4F463C;
text-align: right;
line-height: 0px;
color: #E8E5D1;
    }
    
    #content
    {
       float: left;
width: 600px;
color: #786F66;
margin: 0px 20px 0px -1px;
background: none repeat scroll 0% 0% #E8E5D1;
border-left: 1px solid #ccc8b8;
border-right: 1px solid #ccc8b8;
    }
    
    #maincontent 
    {
        float: left;
        width: 348px;
        padding: 10px;
        background: #E8E5D1;
    }
    
     #maincontent H1
     {
            line-height: 20px;
    text-align: left;
    font-size: 35px;
    font-family: Times New Roman;
    margin: 29px 2px 1px -2px;
     }
     
       #maincontent p
     {
        text-align: left;
font-size: 13px;
font-family: Verdana;
line-height: 19px;
margin: 17px 0px 7px 3px;
     }
    
     #maincontent img
     {
      float: left;
margin: 14px 9px -8px 2px;
     }
   
    
    #subcontent 
    {
        float: left;
width: 180px;
padding: 10px;
border-left: 1px dashed #786F66;
margin-top: 1cm;
        
    }
    
     #subcontent H1
     {
       font-weight: bold;
text-align: left;
font-size: 16px;
font-family: Times New Roman;
margin: -3px 35px 11px -2px;
     }
     
       #subcontent p
     {
        text-align: left;
font-size: 9px;
font-family: Verdana;
line-height: 18px;
     }
     
      #subcontent H2
     {
        text-align: left;
        font-size: 14px;
        font-family: Times New Roman;
        margin: 24px 34px 3px -2px;
        font-weight: bold;
     }
     
       #subcontent ul
     {
        text-align: left;
        font-size: 12px;
        font-family: Verdana;
        line-height: 18px;
     }
     
     #subcontent li a
    {
       color: #786F66;
    }
    
    #bottomcontent 
    {
        clear: both;
        padding: 10px;
        border-bottom: 1px solid #ccc8b8;
        background: #E8E5D1;
        font-size: 12px;
        font-style: italic;
        
    }

/* meny */
    #menu
    {
        border-bottom: 1px solid #666666;
        
    }
    
    #menu ul
    {
       margin: 182px 0px 0px -1px;
font-family: Verdana;
font-size: 13px;
background: none repeat scroll 0% 0% #4F463C;
width: 566px;
padding: 18px;
height: 4px;
text-transform: capitalize;
    }
    
    #menu li
    {
        margin-right: 0px;
        display: inline-block;
        list-style: none outside none;
    }
    
    #menu li a
    {
        text-decoration: none;
color: #E8E5D1;
background: #786F66;
padding: 7px 16px 8px 16px;
border-top: 2px solid #827B72;
    }
 
    
    #menu li a:hover
    {
        background: #9c9084;
        color: #e8e5d1;
        border-top: 2px solid #827B72;
    }
    
    #menu > a
    {
   display: none; 
    }
    
  #menu li.active a /* visar vilken sida man är på i menyn genom att göra den lenken svart*/
{
text-decoration: none;
background: none repeat scroll 0% 0% #E8E5D1;
color: #786F66;
padding: 4px 16px 8px 16px;
border-top: none;
}

