/* Denna fil får du editera för att lösa uppgiften. Du får INTE ändra i html-filen. */

 /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Sidans layout */
    #container 
    {
        width: 700px;
        margin: 0px auto;
        border-top: 1px solid black;
        border-right: 1px solid black;
        border-left: 1px solid black;
        background: #4F463C;
        color: wheat;
        
    }
    
    #topbar 
    {
        padding: 10px; 
        margin: 0;
    }
    #content
    {
        float: left;
        width: 700px;
        background:  #E8E5D1;
        color: #786F66;
    }
    
    #maincontent 
    {
        float: left;
        width: 480px;
        padding: 10px;
        background: #E8E5D1;
        
    }
    #subcontent 
    {
        float: left; 
        width: 180px; 
        padding: 10px;
        
    }
    #bottomcontent 
    {
        clear: both;
        padding: 10px;
        border-bottom: 1px solid #666;
        background: #E8E5D1;
        
    }

/* meny */
    #menu
    {
        border-bottom: 1px solid #666666;
    }
    
    #menu ul
    {
    padding: 0.5em 0;
    margin: 0;
    }
    
    #menu li
    {
    margin-right: 0.2em; 
    display: inline; 
    list-style: none;
    }
    
    #menu li a
    {
        text-decoration: none; 
        padding: 0.5em 1em; 
        margin-left: 0; 
        background: #786f66; 	
        font-weight: bold;
        color: #e8e5d1; 
    }
    
    #menu a:hover
    {
        background: #e8e5d1;
        color: #786f66;
    }
    
  #menu li .active /* visar vilken sida man är på i menyn genom att göra den lenken svart*/
{
        background: black;
}

 #menu #active /* visar vilken sida man är på i menyn genom att göra den lenken svart*/
{
        background: black;
}